body {
  background-color:rgb(158, 209, 221);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: rgb(143, 84, 66);
  width: 300px;
  margin: auto;
  background-color: antiquewhite;
  line-height: 100px;
  text-align: center;
  
}

p{

  color: rgb(4, 20, 20);
}


button{
  background-color:rgb(235, 227, 219) ;
  color: blue;
  height: 50px;
  width: 100px;
}